/*
Authors of the projects:
1-MachnevEgor_https://vk.com/machnev_egor
2-VladislavSaprykin_https://vk.com/vssmt
Contacts in email:
1-meb.official.com@gmail.com
2-dmitriy-shalimov@yandex.ru
*/

/* css for html body */
body{
  overflow-x: hidden;
  margin: 0 auto;
  background-color: #121212;
  text: arial;
}

/* css for stars space */
canvas{
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
}

 /* css for shared container */
#content-container{
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  background-color: #121212;
}
a{
  text-decoration: none;
}
h1{
  text-align: center;
  color: #fff;
  font-style: comfortaa;
  font-family: monospace;
  font-weight: bold;
}

/* css for welcome-content - after 900px*/
@media screen and (min-width: 900px){
  #welcome-content{
    margin-top: 25vh;
    box-sizing: border-box;
    background-color: none;
  }
  .welcome-content-logotype{
    max-width: 280px;
    height: 280px;
    float: left;
    border-style: dashed;
    border-radius: 1vh;
    border-width: 0.5vh;
    border-color: #fff;
  }
  .welcome-content-logotype-img{
    width: 100%;
    height: 100%;
  }
  .welcome-content-text{
    max-width: 600px;
    height: 30vh;
    float: right;
  }
}

/* css for welcome-content - before 900px*/
@media screen and (max-width: 900px){
  #welcome-content{
    margin-top: 10vh;
    background-color: inherit;
    height: auto;
  }
  .welcome-content-logotype{
    margin: 0 auto;
    max-width: 500px;
    border-style: dashed;
    border-radius: 1vh;
    border-width: 0.5vh;
    border-color: #fff;
  }
  .welcome-content-logotype-img{
    width: 100%;
    height: 100%;
  }
  .welcome-content-text{
    margin: 0 auto;
    margin-top: 3vh;
    max-width: 600px;
    height: 30vh;
  }
}

/* css for welcome-content - before 500px*/
@media screen and (max-width: 500px){
  #welcome-content{
    margin-top: 0;
    background-color: inherit;
    height: auto;
  }
  .welcome-content-logotype{
    margin: 0 auto;
    max-width: 500px;
    border-style: dashed;
    border-radius: 1vh;
    border-width: 0.5vh;
    border-color: #fff;
  }
  .welcome-content-logotype-img{
    width: 100%;
    height: 100%;
  }
  .welcome-content-text{
    margin: 0 auto;
    margin-top: 3vh;
    max-width: 600px;
    height: 30vh;
  }
}

/*
Authors of the projects:
1-MachnevEgor_https://vk.com/machnev_egor
2-VladislavSaprykin_https://vk.com/vssmt
Contacts in email:
1-meb.official.com@gmail.com
2-dmitriy-shalimov@yandex.ru
*/
