/*
# Site for -SM_TECHNOLOGY-
smtechnologyofficialcontact@gmail.com
# Authors of the project:
1-MachnevEgor_https://vk.com/machnev_egor
2-NasekinEvgeniy_https://vk.com/nasek1n
3-DmitryShalimov_https://vk.com/lookatstat
# Contacts in email:
1-meb.official.com@gmail.com
2-nasekinwhiteorblack@gmail.com
3-dmitriy-shalimov@yandex.ru
*/

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    margin: 0 auto;
    background-color: #121212;
}

canvas {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}

.container {
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
}

.block-content {
    width: 1000px;
    margin-top: 25vh;
}

.block-content__logo {
    display: inline-block;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.block-content__logo:hover .front {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.block-content__logo:hover .back {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
}

.block-content__logo img {
    position: absolute;
    width: 280px;
    height: 280px;
    border-style: dashed;
    border-radius: 10px;
    border-width: 4px;
    border-color: #fff;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.front,
.back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.back {
    position: absolute;
    position: relative;
    border-radius: 10px;
    background-color: #171717;
    border-style: dashed;
    border-radius: 10px;
    border-width: 4px;
    border-color: #fff;
    width: 280px;
    height: 280px;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.back img {
    width: 100px;
    height: 100px;
    margin: 85px;
    border-style: none;
    border-radius: 0px;
    border-width: 0px;
}

.block-content__text {
    vertical-align: top;
    margin-left: 150px;
    display: inline-block;
    width: 565px;
}

.block-content__text p {
    padding: 10px 0px 10px 0px;
    font-size: 25px;
    text-align: center;
    color: #fff;
    font-style: comfortaa;
    font-family: monospace;
    font-weight: bold;
}

.block-content__text a {
    text-transform: uppercase;
    margin: auto;
    padding: 12px 20px;
    font-size: 24px;
    text-decoration: none;
    color: #8c9eff;
    position: relative;
    -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    -o-transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    z-index: 1;
}

.block-content__text a:after {
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    bottom: 0;
    right: 1.25rem;
    left: 1.25rem;
    background-color: #8c9eff;
    border-radius: 15px;
    -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    -o-transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    -webkit-transform-origin: bottom center;
    -ms-transform-origin: bottom center;
    transform-origin: bottom center;
    z-index: -1;
}

.block-content__text a:hover {
    color: #ffffff;
}

.block-content__text a:hover::after {
    right: 0;
    left: 0;
    height: 100%;
}

.block-content__text img {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
}

@media only screen and (max-width: 1200px) {
    .block-content {
        width: 980px;
    }
    .block-content__logo {
        width: 300px;
    }
    .block-content__text {
        margin-left: 100px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    .container {
        max-width: 900px;
    }
    .block-content {
        margin-top: 10%;
        width: 900px;
    }
    .block-content__logo img {
        width: 400px;
        height: 400px;
    }
    .block-content__logo {
        position: relative;
        left: 260px;
        width: 400px;
        height: 400px;
    }
    .block-content__text {
        margin-top: 7%;
        position: relative;
        left: 195px;
        display: block;
        margin-left: 0px;
    }
    .back {
        width: 400px;
        height: 400px;
    }
    .back img {
        width: 200px;
        height: 200px;
        margin: 95px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    .container {
        max-width: 750px;
    }
    .block-content {
        width: 700px;
    }
    .block-content__logo img {
        width: 450px;
        height: 450px;
    }
    .block-content__text {
        left: 115px;
    }
    .back {
        width: 450px;
        height: 450px;
    }
    .back img {
        width: 200px;
        height: 200px;
        margin: 120px;
    }
    .block-content__logo {
        left: 170px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .container {
        max-width: 430px;
    }
    .block-content {
        margin-top: 0%;
    }
    .block-content {
        width: 370px;
    }
    .block-content__text {
        width: 300px;
        margin-top: 20%;
        left: 50px;
    }
    .block-content__logo {
        left: 0px;
    }
    .block-content__logo img {
        width: auto;
        height: 375px;
    }
    .back {
        width: 375px;
        height: 375px;
    }
    .back img {
        width: 200px;
        height: 200px;
        margin: 83px;
    }
    .block-content__logo {
        width: auto;
        left: 0px;
    }
}

/*
# Site for -SM_TECHNOLOGY-
smtechnologyofficialcontact@gmail.com
# Authors of the project:
1-MachnevEgor_https://vk.com/machnev_egor
2-NasekinEvgeniy_https://vk.com/nasek1n
3-DmitryShalimov_https://vk.com/lookatstat
# Contacts in email:
1-meb.official.com@gmail.com
2-nasekinwhiteorblack@gmail.com
3-dmitriy-shalimov@yandex.ru
*/
